@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.app-background {
  background-color: #C9D7FF;
  background-image: 
    radial-gradient(at 51% 67%, hsla(216,71%,87%,1) 0px, transparent 50%),
    radial-gradient(at 34% 21%, hsla(214,83%,92%,1) 0px, transparent 50%),
    radial-gradient(at 56% 37%, hsla(205,100%,98%,1) 0px, transparent 50%),
    radial-gradient(at 1% 2%, hsla(217,65%,69%,1) 0px, transparent 50%),
    radial-gradient(at 8% 75%, hsla(217,65%,71%,1) 0px, transparent 50%),
    radial-gradient(at 67% 94%, hsla(217,65%,73%,1) 0px, transparent 50%),
    radial-gradient(at 0% 98%, hsla(209,89%,60%,1) 0px, transparent 50%);
}